.post-page {
  display: flex;
  justify-content: space-around;
  &__comments {
    &_el {
      padding: 10px;
      margin-bottom: 10px;
    }
    &_input {
      margin-top: 10px;
    }
  }
}

@media only screen and (max-width: 992px) {
  .post-page {
    flex-direction: column;
    justify-content: center;
    &__comments {
      &_el {
        width: fit-content;
      }
    }
  }
}
